<%- include('partials/header') -%>


		<h1 id="PPTitle">Article Forge</h1>

		

		<hr>
		<form id="editorForm" action="/post/createPost" enctype="multipart/form-data" method="POST">

			<label for="title" class="form-label"></label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title">

			<br>

			<label for="caption" class="form-label"></label>
            <textarea class="form-control" id="caption" name="caption"></textarea>

			<br>

			<!-- <label for="imgUpload" class="form-label"></label> -->
            <input type="file" class="form-control" id="imageUpload" name="file">

			<br>

			<button type="submit" class="btn btn-primary" value="Upload">Submit</button>
		</form>

		<hr>

		<hr>

		<h2><a href="/">Index</a></h2>
		<h2><a href="/pixel">Pixel Home</a></h2>
		<h2><a href="/post">Post</a></h2>
		<h2><a href="/profile">Profile</a></h2>
		<h2><a href="/signup">Signup</a></h2>
		<h2><a href="/login">Login</a></h2>
		<h2><a href="/editor">Editor</a></h2>


		
		<footer id="footer">
			<p class="copyright">&copy; Code by Jojo.</p>
		</footer>
		
		<%= console.log('Sup') %>
		
		  
		<script type="text/javascript" src="js/main.js"></script>
		</body>
		</html>