<%- include('partials/header') -%>

<h1 id="PPTitle"><a href='/pixel'>Pixel Perfect</a></h1>


<hr>  


<div class="inputDiv">
	<% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
	<div class="alert alert-danger"><%= el.msg %></div>
	<% }) %> <% } %> <% if (locals.messages.info) { %> <%
	messages.info.forEach( el => { %>
	<div class="alert alert-info"><%= el.msg %></div>
	<% }) %> <% } %>
	<form class="signupForm glassForm" action="/login" method="POST">
		
			<label for="exampleInputEmail1" class="form-label"
			></label>
			<h1 class="styleFont">Login</h1>
			<input
				type="email"
				class="form-control box"
				id="exampleInputEmail1"
				aria-describedby="emailHelp"
				name="email"
				placeholder="Email"
			/> <br />
		
			<label for="exampleInputPassword1" class="form-label"></label>
			<input
				type="password"
				class="form-control box"
				id="exampleInputPassword1"
				name="password"
				placeholder="Password"
			/> <br />
		<button type="submit" class="btn btn-primary box subBtn">Submit</button>
	</form>
</div>


<hr>




		
<%- include('partials/footer') -%>