/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html {
  font-size: 62.5%;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  width: 60%;
  text-align: center;
  margin: 0 auto;

  background-color: rgb(27, 36, 48);
}

li {
  list-style: none;
}

.userName {
  color: rgb(241, 89, 0);
}
.comment {
  text-indent: 2rem;
}

a, h1, h2 {
  text-decoration: none;
  color: rgb(189, 189, 189);
}

a:hover {
  color: rgb(48, 97, 161);
}

#navigate li {
  display: inline-block;
  width: 5%;
  padding: 5em;
  
}

#userNameDisplay {
  color: rgb(255, 94, 0);
  /* margin-left: 575px; */
}

.form-label{
  color: aliceblue;
  margin-top: 15px;
}

.form-control{
  margin-top: 15px;
  height: 5rem;
}

#PPTitle a{
  font-family: 'Bebas Neue', cursive;
  color: #dc143c;
  font-size: 10rem;
}

#caption {
  width: 40rem;
  height: 20rem;
}

.btn-primary {
  margin-top: 30px;
  width: 10rem;
  height: 3rem;
  font-size: 2.5rem;
  font-family: 'Bebas Neue';
}

.out {
   
    padding: 5px 10px;
    font-size: 16px;
    background-color: #ff5252;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  
.out:hover {
  background-color: #e03d3d;
}

#thePage {
  width: 1200px;
  margin: 0 auto;
}






/******************************************
/* LAYOUT
/*******************************************/
#choice img {
  width: 10%;
  border-radius: 50%;
  margin: 10px 15px
}

hr {
  width: 50%;
}


/******************************************
/* EDITOR
/*******************************************/

#editor #ql-toolbar{
  width: 50%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.makeGreen {
  color: rgb(15, 83, 15);
}

h1 {
  font-size: 5rem;
}

img {
  width: 45%;
}

.title {
  font-size: 3rem;
}

.copyright {
  color: aliceblue;
}

/* ------------- */
.navbar {
  background-color: #333;
  position: relative;
  /* z-index: 999; */
  width: 10rem;
  margin-left: 190px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: rgb(27, 36, 48);
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

/* Style the dropdown menu */
.navbar ul ul {
  position: absolute;
  top: 100%;
  display: none;
  text-align: center;
  left: 0;
  width: 100%;
}

.navbar ul ul li {
  display: block;
  text-align: center;
}

.navbar li:hover ul {
  display: block;
  text-align: center;
}

/* Change the background color of dropdown links on hover */
.navbar ul ul li a:hover {
  background-color: rgb(21, 28, 37);
  border-radius: 5px;
}

/* ---- */
.lock:hover .icon-unlock:before {
  content: "\f0d8";
  transition: 0.9s ease;
}

i {
  font-size: 10rem;
}

#theStart{
  display: inline-block
}

* {
  outline: 1px solid red
}


/******************************************
/* MEDIA QUERIES
/*******************************************/

@media screen and (max-width: 1400px) {
  #PPTitle a {
    color: crimson;
  }

  /* #navigate li a{
    color: crimson;
    display: flex;
    justify-content: space-evenly;
  } */
}
