/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html {
  font-size: 62.5%;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: rgb(27, 36, 48);
}

#postImg {
  width: 50%;
}

li {
  list-style: none;
}

hr {
  width: 60%;
}

.copyright {
  color: aliceblue;
  margin-left: 1rem;
}

.PPAuthor {
  font-size: 1rem;
  color: aliceblue;
  font-family: 'Roboto';
  font-weight: 100;
  margin-left: 40%;
}

.PPCaption {
  font-size: 2.5rem;
}

.styleFont {
  color: aliceblue;
  font-family: 'Bebas Neue';
  text-align: center;
  font-size: 4rem;
}

#commentHr {
  width: 95%;
}

.comment span {
  color: rgb(0, 183, 255);
  margin-right: 1rem;
}





/******************************************
/* LAYOUT
/*******************************************/

#postBlock {
  text-align: center;
  color: aliceblue;
  font-family: 'Roboto';
  font-weight: 100;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: aliceblue;
  font-family: 'Bebas Neue';
}

#likeBtn, #likeBtn button {
  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
}

#commentText {
  width: 40rem;
  height: 15rem;
  font-size: 2rem;
  text-indent: .5rem;
  border-radius: 15px;
}

#commentDiv {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#commentDiv button {
  display: block;
  margin-left: 80%;
  font-size: 2.5rem;
  border-radius: 10px;
  padding: 1px 3px;
  font-family: 'Bebas Neue';
}

#commentSectionDiv {
  background-color: rgb(46, 61, 81);
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  border-radius: 15px;
  color: aliceblue;
}

#commentSectionDiv .userName {
  color: #dc143c;
  margin-left: -60%;
}

#commentSectionDiv button {
  margin-left: 3rem;
}









/******************************************
/* NAVBAR
/*******************************************/

.navbar {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

#PPTitle, #PPTitle a {
  font-size: 3rem;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #dc143c;
  font-size: 10rem;
  margin-bottom: -20px;
}

.navbar li, .navbar li a {
  display: inline-block;
  padding: .3em;
  font-size: 2rem;
  color: aliceblue;
  margin-top: -20px;
  font-family: 'Bebas Neue', cursive;
}

.navbar li, .navbar li a:hover {
  color: #dc143c;
}

#userNameDisplay {
  color: rgb(0, 183, 255);
  font-size: 2rem;
}






/******************************************
/* EXP.
/*******************************************/





/******************************************
/* MEDIA QUERIES
/*******************************************/

@media screen and (max-width: 1400px) {
  #PPTitle a {
    color: crimson;
  }
}